* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  min-height: 8vh;
  background-color: rgb(238, 107, 128);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.layout {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.6rem;
  background-color: rgb(238, 107, 128);
  border-radius: 1rem;
  border: 0.1rem solid black;
  margin: 0.1rem;
}
.logo {
  width: 10%;
  object-fit: contain;
}
.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  display: flex;
  justify-content: center;
  color: rgb(33, 61, 216);
}
h2 {
  color: rgb(33, 61, 216);
  height: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.img {
  width: 90%;
  object-fit: cover;
}
.index_main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.about_main {
  flex-grow: 1;
  width: 100%;
}
.contact_main {
  flex-grow: 1;
}
.information_main {
  flex-grow: 1;
}
.benefitsTips_main {
  flex-grow: 1;
}
.raffle_main {
  flex-grow: 1;
}
.medio {
  display: flex;
  flex-direction: row;
  padding: 15%;
  justify-content: space-between;
}
.img1 {
  width: 40%;
}
.pi {
  color: blue;
  font-size: 80%;
  width: 50%;
}
footer {
  background-color: rgb(238, 107, 128);
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
h3 {
  color: white;
}
.p {
  width: 100%;
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.p img {
  width: 10rem;
  height: 12rem;
}
.p p {
  padding: 10%;
}
.pagf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgf {
  width: 90%;
}
.pf {
  padding: 1%;
  width: 100%;
  font-size: 1.5rem;
  color: blue;
}
.tp4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
  color: blue;
}
table tr,
td,
th {
  border: 1.5px solid black;
  width: 12rem;
  height: 6rem;
  text-align: center;
}
.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.final img {
  width: 9rem;
}
.final ul {
  font-size: 16px;
  width: 17rem;
  height: 6rem;
}
.textf {
  text-align: center;
  padding: 2%;
}
.final ol {
  padding: 5%;
}
form {
  display: flex;
  flex-direction: column;
}
.formulario {
  display: flex;
  flex-direction: column;
}
.cash {
  display: flex;
  flex-direction: column;
}
.mapaang {
  width: 100%;
}
.mapa p {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    flex-direction: row;
  }
  .img {
    width: 30rem;
    height: 11rem;
  }
  .medio {
    font-size: 1.5rem;
  }
  .img1 {
    width: 25%;
  }
  .p {
    flex-direction: row;
  }
  .p p {
    width: 50%;
  }
  .imgf {
    width: 90%;
    height: 18rem;
  }
  .pf {
    padding: 4rem;
  }
  .tp4 {
    font-size: 2rem;
  }
  table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
  }
  .final {
    flex-direction: row;
    justify-content: space-between;
  }
  .forymap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .mapa {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
  }
  .img {
    width: 43rem;
    object-fit: cover;
  }
  .medio {
    padding: 7rem;
  }
  .img1 {
    width: 9rem;
  }
  .p p {
    height: 10rem;
  }
  .final {
    justify-content: space-around;
  }
}
